<!-- Welcome section starts -->
{{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
{{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'owl.carousel.js' | asset_url | script_tag }}
<section class="imagesslider">
<div class="container">
    <div class="heading-section"> {% if section.settings.section-heading != blank %}
        <h2 class="section-heading" style="text-align: center;">{{ section.settings.section-heading }}</h2>
        {% endif %} 
    </div>
    <div id="owl-demo-testimonial" class="owl-carousel owl-theme">
        <div>
            {% for block in section.blocks %}
                {% if block.settings.image != blank %}
                <div id="hero-header" class="relative z-0" style="height: 50px; background-size: cover; background-position: center ;background-image: url('{{ block.settings.image | image_url: width: 50, crop: "center" }}');">
                </div>
                {% endif %}
                {% if block.settings.authername != blank %}
                    <div class="auther-name">
                            {{ block.settings.authername}}
                    </div>
                {% endif %}
                 {% if block.settings.designation != blank %}
                    <div class="designation">
                            {{ block.settings.designation}}
                    </div>
                {% endif %}
                {% if block.settings.description != blank %}
                    <div class="description">
                            {{ block.settings.description}}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
  </div>
</section>
<!-- Welcome section ends -->
{% schema %}
{
"name": "Testimonial slider",
"settings": [
    {
        "id": "section-heading",
        "type": "text",
        "label": "Heading "
        }
],
"max_blocks": 5,
"blocks": [{
    "type": "Tesimonialss",
    "name": "Testimonial",
    "settings": [{
          "type": "header",
          "content": "Testimonial Image"
       },
       {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
       },
       {
        "type":"text",
        "id":"authername",
        "label":"Auther name"
    },
    {
        "type":"text",
        "id":"designation",
        "label":"Designation"
    },
    {
        "type":"richtext",
        "id":"description",
        "label":"Description"
    }
    ]
 }
],
"presets": [
{
"name": "Testimonial slider",
"blocks": [
    {
      "type": "Tesimonialss"
    }
  ]

}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
    jQuery(document).ready(function() {
      jQuery("#owl-demo-testimonial").owlCarousel({
        autoplay: true,
        autoplaySpeed: 1000,
        speed: 600,
        draggable: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: true,
        dots: true
      });
    });
{% endjavascript %}

