<!-- Welcome section starts -->
{{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
{{ 'jquery.min.js' | asset_url | script_tag }}
{{ 'owl.carousel.js' | asset_url | script_tag }}
<section class="imagesslider">
<div class="container">
    <div class="heading-section"> 
        {% if section.settings.section-heading != blank %}
        <h2 class="section-heading" style="text-align: center;">{{ section.settings.section-heading }}</h2>
        {% endif %} 
    </div>
    <div id="owl-demo-testimonial" class="owl-carousel owl-theme">
       
            {% for block in section.blocks %}
                {% if block.type == 'Tesimonialss' %}
                <div class="custom-testimonial">
                    {% if block.settings.image != blank %}
                    <div class="images"><img src="{{ block.settings.image | img_url: 'large' }}" id="hero-header" class="relative z-0"/>
                    </div>
                    {% endif %}
                    {% if block.settings.authername != blank %}
                        <div class="auther-name">
                                {{ block.settings.authername}}
                        </div>
                    {% endif %}
                    {% if block.settings.designation != blank %}
                        <div class="designation">
                                {{ block.settings.designation}}
                        </div>
                    {% endif %}
                    {% if block.settings.description != blank %}
                        <div class="description">
                                {{ block.settings.description}}
                        </div>
                    {% endif %}
                    </div>
                {% elsif block.type == 'other-block' %}
                <div class="custom-testimonial">
                {% if block.settings.image != blank %}
                    <div class="other-block-images"><img src="{{ block.settings.image | img_url: 'large' }}" id="hero-header" class="relative z-0"/>
                    </div>
                {% endif %}
                  {% if block.settings.linktext != blank %}
                        <div class="button">
                       <a href="{{ section.settings.link }}" class="button">{{ section.settings.linktext }}</a>
                         </div>
                    {% endif %}
                </div>
                {% endif %}
           {% endfor %}

        
    </div>
  </div>
</section>
<!-- Welcome section ends -->

{% schema %}
{
"name": "Testimonial slider",
"settings": [
    {
        "id": "section-heading",
        "type": "text",
        "label": "Heading "
        }
],
"max_blocks": 5,
"blocks": [
    {
        "type": "Tesimonialss",
        "name": "Testimonial",
        "settings": [
            {
            "type": "header",
            "content": "Testimonial Image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type":"text",
            "id":"authername",
            "label":"Auther name"
            },
        {
            "type":"text",
            "id":"designation",
            "label":"Designation"
        },
        {
            "type":"richtext",
            "id":"description",
            "label":"Description"
        }
        ]
    },
    {
        "type": "other-block",
        "name": "Call to action",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
          {
                "id": "link",
                "type": "url",
                "label": "Button link"
              },
              {
                "id": "linktext",
                "type": "text",
                "label": "Button text",
                "default": "Click Here"
              }
        ]
      }
],
"presets": [
{
"name": "Testimonial slider",
"blocks": [
    {
      "type": "Tesimonialss"
    }
  ]

}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
{% javascript %}
    jQuery(document).ready(function() {
      jQuery("#owl-demo-testimonial").owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        items:1
      });
    });
{% endjavascript %}
<style>
  .auther-name,.designation,.description {
    text-align: center;
}
</style>

